image: node:20.11.0 # change to match your node version

before_script:
  - npm install

build:
  stage: build
  cache:
    paths:
      - node_modules/
  script:
    - CI=false npm run build

test:
  stage: test
  cache:
    paths:
      - node_modules/
  script:
    - CI=false npm run test
  allow_failure: true

pages:
  stage: deploy
  script:
    - rm -rf public
    - mv build public
  artifacts:
    paths:
      - public 
