image: node:20.11.0 # change to match your node version

before_script:
  - npm install

build:
  stage: build
  cache:
    paths:
      - node_modules/
  script:
    - CI=false npm run build
  artifacts:
    paths:
      - build
  allow_failure: true
  
test:
  stage: test
  cache:
    paths:
      - node_modules/
  script:
    - npm run test
  

