image: nikolaik/python-nodejs:latest # change to match your node version

before_script:
  - npm install
  - apt update
  - apt-get install -y chromium
  - python3 -m pip install selenium
  - python3 -m pip install bs4
  - npm i jest-environment-jsdom
  - npm install --save-dev @babel/preset-env
  - npm install --save-dev @babel/preset-react
  - npm install --save-dev babel-jest
  - npm install --save-dev identity-obj-proxy
  - npm install --save-dev jest
  - npm install --save-dev react-test-renderer


test:
  stage: test
  cache:
    paths:
      - node_modules/
  script:
    - set CI=false
    - python3 front-end/src/AboutUnitTests.py
    - python3 front-end/src/LandingUnitTests.py
    - python3 front-end/src/LocatorUnitTests.py
    - python3 front-end/src/CountiesUnitTests.py
    - python3 front-end/src/Prevelance.py
    - pushd front-end
    - npx jest
    - popd
    - npx tsx ./testing/index.ts


  

