image: node:20.11.0 # change to match your node version

before_script:
  - npm install

build:
  stage: build
  cache:
    paths:
      - node_modules/
  script:
    - CI=false npm run build
  artifacts:
    paths:
      - build
  allow_failure: true
  
test:
  stage: test
  cache:
    paths:
      - node_modules/
  script:
    - set CI=false
    - npm run test
    - python3 front-end/src/AboutUnitTests.py
    - python3 front-end/src/LandingUnitTests.py
    - python3 front-end/src/LocatorUnitTests.py
    - python3 front-end/src/CountiesUnitTests.py
    - python3 front-end/src/Prevelance.py
    - pushd front-end
    - npx jest
    - popd
    - npx tsx ./testing/index.ts


  

