image: node:20.11.0 # change to match your node version

before_script:
  - npm install

build:
  stage: build
  cache:
    paths:
      - node_modules/
  script:
    - CI=false npm run build
  artifacts:
    paths:
      - build
  allow_failure: true
  
test:
  stage: test
  cache:
    paths:
      - node_modules/
  script:
    - npm run test
  
selenium_tests:
  stage: test
  image: python:3.8
  before_script:
    - pip install selenium
    - wget https://chromedriver.storage.googleapis.com/LATEST_RELEASE -O latest_release
    - export CHROMEDRIVER_VERSION=$(cat latest_release)
    - wget https://chromedriver.storage.googleapis.com/$CHROMEDRIVER_VERSION/chromedriver_linux64.zip
    - unzip chromedriver_linux64.zip
    - mv chromedriver /usr/local/bin
    - chmod +x /usr/local/bin/chromedriver
  script:
    - python -m unittest LandingUnitTests.py
