.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Change the number of columns to 3 */
  gap: 20px;
  padding-left: 40px; /* Add padding to the left */
  padding-right: 40px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  height: 400px;
}

.card img {
  width: 100%;
  height: 50%;
  object-fit: contain;
  border-radius: 5px;
}

.card-content {
  margin-top: 10px;
}