.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-left: 40px; /* Add padding to the left */
  padding-right: 40px;
}

.container {
  text-align: center;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.card img {
  width: 100%;
  height: auto; /* Change to auto to maintain aspect ratio */
  object-fit: contain;
  border-radius: 5px;
}

.card-content {
  margin-top: 10px;
}

.card:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}